{% extends 'core/base.html' %}

{% block Title %}
    Proyecto
{% endblock Title %}

{% block content %}
    <div class="d-flex flex-column align-items-center gap-3 mt-5">
        <a href="{% url 'cliente:cliente_login' %}" class="btn btn-primary btn-lg">
            <span class="bi bi-person"></span> Iniciar sesión como cliente
        </a>
        <a href="{% url 'cliente:admin_login' %}" class="btn btn-dark btn-lg">
            <span class="bi bi-person-gear"></span> Iniciar sesión como admin
        </a>
    </div>
{% endblock content %}